body{
    font-size: 16px;
    text-align: left;
    color: blue;
    font-family: Courier;
}

#cabezera{
    background-color: chocolate;
    color: white;
    padding: 5px;
}

#container{
    width: 70%;
    padding: 1em;
    border: 1px solid #ddd;
    margin: 0 auto;
}

#footer{
    background-color: dimgray;
    text-align: center;
    color: white;
}